:root {
  --main-bg: purple;
  --board-item-bg: #eaeff0;
  --card-item-bg: white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus,
textarea:focus {
  outline: none;
}

textarea {
  border: none;
}

body {
  background-color: var(--main-bg);
}

.app {
  .container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .boards {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 0;

    &-item {
      max-width: 250px;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background-color: var(--board-item-bg);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

      .title {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 38px;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: all 0.3 ease;
        overflow: hidden;

        &-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;
          padding: 10px;
          border-radius: 5px;
          background-color: var(--card-item-bg);
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

          .delete-btn {
            display: none;
          }

          &:hover .delete-btn {
            display: block;
          }
        }
      }

      .card-form {
        display: none;

        .card-text {
          padding: 10px;
          max-width: 100%;
          height: 60px;
          max-height: 150px;
          min-height: 60px;
          resize: vertical;
          margin-bottom: 10px;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .add-card {
            flex-grow: 1;
            padding: 10px;
            border-radius: 5px;
            background-color: blue;
          }

          .cancel-card {
            padding: 10px;
            border-radius: 5px;
            background-color: brown;
          }
        }
      }

      .add-card {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: blue;
      }
    }
  }

  .add-board {
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
  }
}
